{% extends 'base.html' %}
{% block content %}
<h1>Movie Recommendation</h1>
    <form id="movieForm" action="/recommendations">
        <div class="form-group" >
            <label for="movie-genre">Movie Genre:</label>
            <select class="form-control" id="movie-genre" name="movie_genre">
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="movie-year">Movie Year:</label>
            <input type="number" class="form-control" id="movie-year" name="movie_year" min="1900" max="{{ current_year }}" value="{{ current_year }}">
        </div>
        <div class="form-group">
            <label for="movie-rating">Movie Rating:</label>
            <input type="range" class="form-control-range" id="movie-rating" name="movie_rating" min="1" max="10" step="1">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Get Recommendation</button>
        </div>
    </form>

{% endblock %}